.navbar-default {
    background: none;
  	border: none;
}

.nav.navbar-nav.navbar-right li a {
    color: #d6d6d6;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
}

#headertxt i {
  transition: font-size 0.35s ease;
}

#headertxt i:hover {
  font-size: 2em;
}

#top {
  height: 100%;
  background: url(bround.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50em;
  margin-bottom: 0;
}

#headertxt {
  padding-top: 10%;
  text-align: center;
  position: relative;
  font-family: Verdana;
  color: white;
  font-variant-caps: small-caps;
}

#am h1 {
  color: black;
  text-align: center;
  padding-bottom: 1em;
}

#am {
  padding-top: 2em;
  background-color: rgb(240, 240, 240);
  margin-top: 0;
  font-family: Verdana;
}

#xpad {
  margin-bottom: 3000px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  max-height: 16em;
  overflow: hidden;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0px
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
}

img {
  max-width: 100%;
}

.cat_head {
  font-size: 250%;
}

.left {
  margin-top: 6em;
  float: left;
  width: 25%;
}

.right {
  margin-top: 6em;
  float: left;
  width: 75%;
}

.am-row {
  content: "";
  display: table;
  clear: both;
  margin-left: 4em;
}

.footer {
  height: 7em;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: black;
  font-family: Verdana;
}

#left-footer {
  width: 25%;
  float: left;
  padding-left: 2em;
  padding-top: 2em;
}

#right-footer {
  width: 75%;
  float: left;
  padding-right: 6em;
  font-size: 1em;
  padding-top: 1rem;
  text-align: right;
}
