.navbar-default {
    background: none;
  	border: none;
    margin-bottom: 0px;
}

#nav-backround {
  background: black;
  margin-left: -1%;
}

.nav.navbar-nav.navbar-right li a {
    color: #d6d6d6;
    font-family: Helvetica;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
    font-family: Helvetica;
    font-variant-caps: small-caps;
}

#headertxt i {
  transition: font-size 0.35s ease;
}

#headertxt i:hover {
  font-size: 2em;
}

#top {
  height: 100%;
  background: url(assets/bround.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50em;
  margin-bottom: 0;
}


#headertxt {
  padding-top: 10%;
  text-align: center;
  position: relative;
  font-family: Helvetica;
  color: white;
}

#headertxt h1 {
  font-variant-caps: small-caps;
}

#am h1 {
  color: black;
  text-align: center;
  padding-bottom: 1em;
}

#am {
  padding-top: 2em;
  background-color: rgb(240, 240, 240);
  margin-top: 0;
  font-family: Helvetica;
  padding-bottom: 2em;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  max-height: 20vw;
  overflow: hidden;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0px
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
}

img {
  max-width: 100%;
}

.cat_head {
  display: block;
  float: left;
  margin-right: 1em;
  font-size: 3.0vw;
  border-right: 0;
}


.left {
  margin-top: 6em;
  float: left;
  width: 25%;
}

.right {
  margin-top: 6em;
  float: left;
  width: 65%;
}

.am-row {
  content: "";
  display: table;
  clear: both;
  margin-left: 2em;
}

.footer {
  height: 7em;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: black;
  font-family: Helvetica;
}

#left-footer {
  width: 40%;
  float: left;
  padding-left: 2em;
  padding-top: 2em;
}

#right-footer {
  width: 60%;
  float: left;
  padding-right: 2vw;
  font-size: 1em;
  padding-top: 1rem;
  text-align: right;
}

.resume-header {
  text-align: center;
  margin-top: 0px;
  padding-top: 1em;
}

.resume-background {
  background: rgb(240, 240, 240);
}

#resume {
  text-align: center;
}

#resume object {
  height: 50vw;
}
